{% extends "base.html" %}

{% block content %}
    {% if operador %}
        OPERADOR: {{operador|safe}}
        <hr></hr>
        {% if chart1  %}
            <img src = "data:image/png;base64, {{chart1|safe}}"></img>
        {% endif %}
        {% if chart2  %}
        <hr></hr>
            <img src = "data:image/png;base64, {{chart2|safe}}"></img>
        {% endif %}
        {% if chart3  %}
        <hr></hr>
            <img src = "data:image/png;base64, {{chart3|safe}}"></img>
        {% endif %}
    {% endif %}

    {% if stenback %}
        GRAFICAS DE: {{stenback|safe}}
        <hr></hr>
        {% if chart1  %}
            <img src = "data:image/png;base64, {{chart1|safe}}"></img>
        {% endif %}
        {% if chart2  %}
        <hr></hr>
            <img src = "data:image/png;base64, {{chart2|safe}}"></img>
        {% endif %}
        {% if chart3  %}
        <hr></hr>
            <img src = "data:image/png;base64, {{chart3|safe}}"></img>
        {% endif %}
    {% endif %}

{% endblock content %}